body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 60px auto;
    background-color: #fdf6f0;
    color: #333;
    line-height: 1.7;
    align-items: center;


}

h1 {
    color: #c94c4c;
    text-align: center;
    font-size:larger;
    letter-spacing: 1px;
    margin-bottom: 20px;

}



a {
    text-decoration: none;
    color: #2d6a4f;
    font-weight: bold;
}

.food-list {
    margin-top: 20px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr)
}

.food-card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #2d6a4f;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
    height: 400px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;



}


.hint-box {
  display: inline-block;
  background-color: #ffe5e0;
  align-items: flex-start;

  border-radius: 10px;
  padding: 12px 16px;
  font-size: 0.95rem;
  color: #5a3e36;
  margin-left: 20px;
  vertical-align: top;
}


.flash {
    color:#c94c4c;
    font-weight: bold;
    
}

.logout-btn {
    background-color: green;
    border-radius: 10px; 
}
.logout-btn:hover{
    background-color: red; 
}

.login-box {
    margin-top: -20px;
    background-color: #fff8f3;
    padding: 25px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h2 {
    color: #9f5757;
    margin-bottom: 10px;
}

.start-btn {
    background-color: #2d6a4f;
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}

.start-btn:hover {
    background-color: #1b4332;
}


.container img:hover {
    transform:scale(1.1);
    opacity: 0.5;
    transition: opacity 0.5s ease;

}

